global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporters'
    scrape_interval: 15s
    static_configs:
      - targets: ['{{haproxy_ip}}:9100','{{etcd_ip_1}}:9100','{{etcd_ip_2}}:9100','{{etcd_ip_3}}:9100','{{patroni_ip_1}}:9100','{{patroni_ip_2}}:9100','{{patroni_ip_3}}:9100','{{patroni_ip_4}}:9100','{{pgbouncer_ip_1}}:9100','{{pgbouncer_ip_2}}:9100']
  - job_name: 'prometheus-postgres-exporter'
    scrape_interval: 15s
    static_configs:
      - targets: ['{{patroni_ip_1}}:9187','{{patroni_ip_2}}:9187','{{patroni_ip_3}}:9187','{{patroni_ip_4}}:9187']
