name: '{{ansible_hostname}}'  
#|где X - номер сервера  

data-dir: '/db/etcd' 
 
wal-dir: '/db/etcd/wal-dir'  
 
# Количество транзакций запуска моментального снимка на диск. 
snapshot-count: 10000 
 
# Время (в миллисекундах) интервала heartbeat. 
heartbeat-interval: 100 
 
# Время (в миллисекундах) для выбора до тайм-аута. 
election-timeout: 1000 
 
# Подавать сигнал тревоги, когда размер серверной части превышает заданную квоту. 0 означает использование 
# квоты по умолчанию. 
quota-backend-bytes: 0 
 
#- Формат для записи параметра  
listen-peer-urls: http://{{ansible_default_ipv4.address}}:2380,http://127.0.0.1:2380 
#http://#{Внешний etcd-X IP}:2380,http://127.0.0.1:2380  
#|где X - номер сервера (например: http://135.181.196.92:2380)  
 
#- Формат для записи параметра  
listen-client-urls: http://{{ansible_default_ipv4.address}}:2379,http://127.0.0.1:2379 
#http://#{Внешний etcd-X IP}:2379,http://127.0.0.1:2379  
#|где X - номер сервера (например: http://135.181.196.92:2379)  
 
# Максимальное количество файлов моментальных снимков для сохранения (0 не ограничено). 
max-snapshots: 5 
 
# Максимальное количество файлов wal для сохранения (0 не ограничено). 
max-wals: 5 
 
# Разделенный запятыми белый список источников для CORS (совместное использование ресурсов между источниками). 
cors: 
 
#- Формат для записи параметра  
initial-advertise-peer-urls: http://{{ansible_default_ipv4.address}}:2380 
#http://#{Внешний etcd-X IP}:2380  
#|где X - номер сервера (например: http://135.181.196.92:2380)  
 
#- Формат для записи параметра  
advertise-client-urls: http://{{ansible_default_ipv4.address}}:2379 
#http://#{Внешний etcd-X IP}:2379  
#|где X - номер сервера (например: http://135.181.196.92:2379)  
 
# URL-адрес обнаружения, используемый для начальной загрузки кластера. 
discovery: 
 
# Допустимые значения включают 'exit', 'proxy' 
discovery-fallback: 'proxy' 
 
# Прокси-сервер HTTP для использования для трафика к службе обнаружения. 
discovery-proxy: 
 
# Домен DNS, используемый для начальной загрузки кластера. 
discovery-srv: 
 
initial-cluster: 'etcd-1=http://{{etcd_ip_1}}:2380,etcd-2=http://{{etcd_ip_2}}:2380,etcd-3=http://{{etcd_ip_3}}:2380'  
 
initial-cluster-token: 'etcd-cluster-rebrain-token' 
 
# Начальное состояние кластера («новый» или «существующий»). 
initial-cluster-state: 'new' 
 
# Отклонять запросы на изменение конфигурации, которые могут привести к потере кворума. 
strict-reconfig-check: false 
 
# Принимать запросы клиентов etcd V2 
enable-v2: true 
 
# Включить данные профилирования во время выполнения через HTTP-сервер 
enable-pprof: true 
 
# Допустимые значения включают 'on', 'readonly', 'off' 
proxy: 'off' 
 
# Время (в миллисекундах), когда конечная точка будет находиться в состоянии сбоя. 
proxy-failure-wait: 5000 
 
# Время (в миллисекундах) интервала обновления конечных точек. 
proxy-refresh-interval: 30000 
 
# Время (в миллисекундах) интервала обновления конечных точек. 
proxy-dial-timeout: 1000 
 
# Время (в миллисекундах) для таймаута записи. 
proxy-write-timeout: 5000 
 
# Время (в миллисекундах) от чтения до тайм-аута. 
proxy-read-timeout: 0 
 
client-transport-security: 
  # Path to the client server TLS cert file. 
  cert-file: 
 
  # Path to the client server TLS key file. 
  key-file: 
 
  # Enable client cert authentication. 
  client-cert-auth: false 
 
  # Path to the client server TLS trusted CA cert file. 
  trusted-ca-file: 
 
  # Client TLS using generated certificates 
  auto-tls: false 
 
peer-transport-security: 
  # Path to the peer server TLS cert file. 
  cert-file: 
 
  # Path to the peer server TLS key file. 
  key-file: 
 
  # Enable peer client cert authentication. 
  client-cert-auth: false 
 
  # Path to the peer server TLS trusted CA cert file. 
  trusted-ca-file: 
 
  # Peer TLS using generated certificates. 
  auto-tls: false 
 
# Enable debug-level logging for etcd. 
debug: false 
 
logger: zap 
 
# Specify 'stdout' or 'stderr' to skip journald logging even when running under systemd. 
log-outputs: [stderr] 
 
# Force to create a new one member cluster. 
force-new-cluster: false 
 
auto-compaction-mode: periodic 
auto-compaction-retention: "1" 
#--------------------------------- 
