#!/bin/bash

cat /etc/hosts | grep rebrain-etcd-node
if [[ $? != 0 ]]; then
        echo "{{etcd_ip_1}} rebrain-etcd-node-1 etcd-1" >> /etc/hosts
        echo "{{etcd_ip_2}} rebrain-etcd-node-2 etcd-2" >> /etc/hosts
        echo "{{etcd_ip_3}} rebrain-etcd-node-3 etcd-3" >> /etc/hosts
else
        echo +
fi
