[Unit] 
Description=etcd key-value store 
Documentation=https://github.com/coreos/etcd 
After=network.target 
 
[Service] 
User=postgres 
Type=notify 
ExecStart=/usr/local/bin/etcd --config-file /etc/etcd.yml
Restart=always 
RestartSec=10s 
LimitNOFILE=40000 

[Install] 
WantedBy=multi-user.target